#freetime-countdown {
	margin-bottom: 50px;
}

#freetime-text {
	font-size: 30px;
	color: grey;
}

#freetime-counter {
	font-size: 50px;
}

#totaltime-left-text {
	color: grey;
	font-size: 20px;
}

#totaltime-left-counter {
	font-size: 30px;
}

#countdowns {
	text-align: center;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

