body {
	margin: 0;
	padding: 0;

}

#home {
	position: absolute;
	height: 100%;
	width: 100%;
}

#top {
}

#content {
	width: 100%;
	position: fixed;
	bottom: 0;
	/* height of toolbar + margin */
	top: 118.5px;
}

#left-column {
	position: relative;
	height: 100%;
	width: 60%;
	float: left;
}

#right-column {
	position: relative;
	height: 100%;
	width: 40%;
	float: right;
}

#toolbar {
	margin-bottom: 0 !important;
}

#graph {
	margin-right: 0 !important;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#checklist {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* height of addevent + margin */
	bottom: 127px;
}

#addevent {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

#toolbar, #graph, #checklist, #addevent {
	background-color: white;
	border-radius: 15px;
	margin: 40px;
}

#toolbar, #addevent {
	padding: 30px;
}

#graph, #checklist {
	padding: 50px;
}

#checklist-title, #add-event-title, #event-details-title {
	font-size: 1.64rem;
}

#add-event-popup, #event-details-popup {
	width: 55%;
	max-height: 80% !important;
	padding: 20px !important;
}

#add-event-popup > .modal-content, #event-details-popup > .modal-content {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

#add-event-popup .modal-overlay, #event-details-popup .modal-overlay {
	position: fixed  !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
}

#add-event-popup .modal, #event-details-popup .modal {
	position: fixed !important;
}

.modal-overlay {
	pointer-events: none;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar background */
::-webkit-scrollbar-track {
    background: transparent; 
	border-radius: 2px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #75b0d1; 
	border-radius: 2px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #75b0d1; 
}

.btn {
	background-color: #75b0d1 !important;
}

/* label focus color */
input[type=text]:focus + label, label.active {
	color: grey !important;
}

/* label underline color */
input[type=text], input[type=text]:focus {
	border-bottom: 1px solid #75b0d1 !important;
}

/* label underline focus shadow */
input[type=text]:focus {
	box-shadow: 0 1px 0 0 #75b0d1 !important;
}